body {
  background-color: pink;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gridcont {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  grid-template-rows: repeat(3, 50px);
}

.gridcont2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 100px;
}

.dirdiv {
  height: 50px;
  width: 50px;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image {
  height: 500px;
  width: 500px;
}

.but_cont1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.but_cont2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.yes {
  height: 150px;
  width: 150px;
}

p {
  width: 100vw;
  text-align: center;
  margin: 50px 0 0 0;
}
