@font-face {
  font-family: "heartland";
  src: url("font/heart.TTF") format("truetype");
}

body {
  background-color: pink;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centertitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 650px;
  background-color: rgb(243, 207, 246);
  padding: 20px;
  border-radius: 60px;
}

.gridcont {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  grid-template-rows: repeat(3, 50px);
}

.gridcont2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 100px;
}

.dirdiv {
  height: 50px;
  width: 50px;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image {
  height: 500px;
  width: 500px;
}

.but_cont1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.but_cont2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.yes {
  height: 150px;
  width: 150px;
}

p {
  font-family: "heartland", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  color: rgb(238, 42, 42);
  width: 100vw;
  text-align: center;
  vertical-align: middle;
}

button {
  background-color: #e36aa2;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 32px;
  padding-right: 32px;
  border: none;
  border-radius: 20px;
}
